doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // SEO Meta Tags
    meta(name='description', content='Create a stylish landing page for your business startup and get leads for the offered services with this free HTML landing page template.')
    meta(name='author', content='Inovatik')
    // OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+
    meta(property='og:site_name', content='')
    // website name
    meta(property='og:site', content='')
    // website link
    meta(property='og:title', content='')
    // title shown in the actual shared post
    meta(property='og:description', content='')
    // description shown in the actual shared post
    meta(property='og:image', content='')
    // image link, make sure it's jpg
    meta(property='og:url', content='')
    // where do you want your post to link to
    meta(property='og:type', content='article')
    // Website Title
    title Elite-SMS Customer Engagement Platform
    // Styles
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&subset=latin-ext', rel='stylesheet')
    link(href='/Homepage/css/bootstrap.css', rel='stylesheet')
    link(href='/Homepage/css/fontawesome-all.css', rel='stylesheet')
    link(href='/Homepage/css/swiper.css', rel='stylesheet')
    link(href='/Homepage/css/magnific-popup.css', rel='stylesheet')
    link(href='/Homepage/css/styles.css', rel='stylesheet')
    // Favicon
    link(rel='icon', href='/Homepage/images/favicon.png')
    style.
     .navbar-custom .navbar-nav {
            margin-top: 10px;
            margin-bottom: 0.5rem;
        }
        .btn-solid-lg {
        display: inline-block;
        padding: 1.375rem 2.625rem 1.375rem 2.625rem;
        border: 0.125rem solid #00bfd8;
        border-radius: 2rem;
        background-color: #00bfd8;
        color: #fff;
        font: 700 0.75rem/0 "Raleway", sans-serif;
        text-decoration: none;
        transition: all 0.2s;
       }
        #login
        {
        margin-top:-15px;
        margin-left:10px;
        
        }
        #login:hover
        {
            background-color:white;
            color:#00bfd8
        }
        #login1
        {
        margin-top:-15px;
        
        }
        #login1:hover
        {
            background-color:white;
            color:#00bfd8
        }
        @media (max-width: 768px) {  
         #login
         {
             margin-top:10px;
             width:80%;
             text-align:left;
             margin-left:0px;
         }
         #login1
         {
             margin-top:2px;
             width:80%;
              text-align:left
         }
         #why
        {
            margin-top:15px;
            margin-bottom:25px;
            text-align:center
        }
        }
        #why
        {
            margin-top:15px;
            margin-bottom:25px;
            text-align:center
        }
  body(data-spy='scroll', data-target='.fixed-top')
    // Preloader
    .spinner-wrapper
      .spinner
        .bounce1
        .bounce2
        .bounce3
    // end of preloader
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
      // Text Logo - Use this if you don't have a graphic logo
      // <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a>
      // Image Logo
      a.navbar-brand.logo-image(href='/')
        img(src='/Homepage/images/logo.png', alt='alternative')
      // Mobile Menu Toggle Button
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-awesome.fas.fa-bars
        span.navbar-toggler-awesome.fas.fa-times
      // end of mobile menu toggle button
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.page-scroll(href='/')
              | Home 
              span.sr-only (current)
         
         
        
          // Dropdown Menu
          li.nav-item
            a.nav-link.page-scroll(href='/#about') About Us
          // end of dropdown menu
          li.nav-item
            a.nav-link.page-scroll(href='/#contact') Contact Us
          
          a.btn-solid-lg#login(href='/login') LOG IN
          &nbsp;
          a.btn-solid-lg#login1(href='/signup') GET STARTED NOW
          
    // end of navbar
    // end of navigation
    // Header
    // end of navbar
    // end of navbar
    // Header
    header#header.ex-header
      .container
        .row
          .col-md-12
            h1 Documentation
          // end of col
          // end of row
          // end of container
          // end of ex-header
          // end of header
          // Breadcrumbs
    .ex-basic-1
            .container
              .row
                .col-lg-12
                  .breadcrumbs
                    a(href='/') Home
                    i.fa.fa-angle-double-right
                    span Documentation
                  // end of breadcrumbs
                  // end of col
                  // end of row
                  // end of container
                  // end of ex-basic-1
                  // end of breadcrumbs
                  // Privacy Content
    .ex-basic-2
                    .container
                      .row
                        .col-lg-10.offset-lg-1
                          .text-container
                            h3 Overview
                            p Elite-SMS is a leading Kenya SMS messaging service provider offering SMS communication services from your internet enabled computer. The Elite-SMS gateway reaches across borders and connects to your clients within Kenya or across Africa.
                            p There are only two steps to get started:
                            .row
                              .col-md-12
                                ul.list-unstyled.li-space-lg.indent
                                  li.media
                                    i.fas.fa-square
                                    .media-body     
                                      a(href="/signup") Register 
                                      | to Elite-SMS has a user. The registration process is simply, you will only provide your company name, your fullname, your username, your email address and your password.
         
                                  li.media
                                    i.fas.fa-square
                                    .media-body Elite-SMS is integrated with 
                                        a(href="https://africastalking.com") africastalking 
                                        | which is a telecommunications solutions provider that offers powerful mobile communication APIs. 
                                  li.media
                                    i.fas.fa-square
                                    .media-body
                                      | A unique Evolo user ID (an alphanumeric string) which is assigned to you upon registration
                                  li.media
                                    i.fas.fa-square
                                    .media-body Hence, you will need to register to africastalking sms api by simply creating an account on africastalking. 
                                  li.media
                                    i.fas.fa-square
                                    .media-body
                                        | You will only need 3 things. 
                                        span(style='background-color:#212529;padding:5px;color:white') Your account Username
                                        |, 
                                        span(style='background-color:#212529;padding:5px;color:white') your API Key
                                        |&nbsp;and 
                                        span(style='background-color:#212529;padding:5px;color:white') your sender ID
                                        |. 
                                  li.media
                                    i.fas.fa-square
                                    .media-body
                                      | Sender ID is basically your unique name like your company name which you will have to register with africastalking. Remember your africastalking Username, API key and your Sender ID will be encrypted by our platform. 
                                  li.media
                                    i.fas.fa-square
                                    .media-body Kindly follow this steps on how to get started with africastalking.
                              .text-container
                                h5 - Register with africastalking
                                br
                                img(src="/images/register2.png", alt="", width='80%')
                                
                              .text-container
                                h5 - Login in to your africastalking account
                                br
                                img(src="/images/login2.png", alt="", width='80%')
                             
                              .text-container
                                h5 - After logging in, you will be directed to your dashboard. Next, create a new team by clicking on new team.
                                br
                                img(src="/images/Add-new-team.png", alt="", width='80%')
                               
                              .text-container
                                h5 - Enter a new team name.
                                br
                                img(src="/images/team-name.png", alt="", width='80%')
                               
                              .text-container
                                    h5 - On the next page. Create a new app by clicking on the Create App button.
                                    br
                                    img(src="/images/create-app.png", alt="", width='80%')
                                   
                              .text-container
                                    h5 - Under apps. Click on your recent created app.
                                  
                              .text-container
                                    h5 - You will be directed to another page. To get your api key, Go to Settings then API keys.
                                    br
                                    img(src="/images/settings.png", alt="", width='80%')
                              .text-container
                                    h5 - To generate your API key, enter your password then click on generate. Copy/Paste your API key or save it in notepad.
                                    br
                                    img(src="/images/generate.png", alt="", width='80%')
                                  
                              .text-container
                                    h5 - After getting your API Key, you will need to top up your account balance. For new accounts, africastalking gives you KSH 20. But to top up. Go to Billing then choose payment methods.
                                    br
                                    img(src="/images/Billing.png", alt="", width='80%')
                                   
                              .text-container
                                    h5 - If you are using MPESA. Follow this  steps and your account balance will be updated. Now you can start sending messages with Elite-SMS
                                    br
                                    img(src="/images/paybill.png", alt="", width='80%')
                                  
                              .text-container
                                h5 - The final step is to get your SENDER ID. Which is a unique name. To get your sender ID, you will have to register your unique name to africastalking.
                                h6 -  Kindly follow the following instructions:
                                br
                                .jumbotron
                                    p This can be done by getting a Sender ID, it enables you to brand your messages with your Organization name. Cost is KES 7,500.00 + 16% VAT = KES 8,700.00 one off payment
                                    p Payment can be done via Mpesa Paybill 525900 account ADMIN

                                    p We submit sender ID applications to Safaricom on Monday's and Thursday's before noon for the ID to be ready on Tuesday's and Friday's respectively, while on the other networks it takes 7 working days.
                                    p It should not be generic and should be in-line with your services / products. If it is a product, then we need proof by sharing the trademark.
                                    p The ID has an 11 character limit. No spacing allowed but hyphens and underscores are acceptable.
                                
                           
                        // end of col
                        // end of row
                        // end of container
                        // end of ex-basic-2
                        // end of privacy content
                        // Breadcrumbs
    .ex-basic-1
                          .container
                            .row
                              .col-lg-12
                                .breadcrumbs
                                  a(href='/') Home
                                  i.fa.fa-angle-double-right
                                  span Documentation
                                // end of breadcrumbs
                                // end of col
                                // end of row
                                // end of container
                                // end of ex-basic-1
                                // end of breadcrumbs
                                // Footer
   .footer
                                                                                                                                                    .container
                                                                                                                                                      .row
                                                                                                                                                        .col-md-4
                                                                                                                                                          .footer-col
                                                                                                                                                            h4 About 
                                                                                                                                                             img(src='/Homepage/images/logo.png', alt='alternative')
                                                                                                                                                            p
                                                                                                                                                              | We're passionate about offering some of the best business growth services for startups
                                                                                                                                                        // end of col
                                                                                                                                                        .col-md-4
                                                                                                                                                         
                                                                                                                                                        // end of col
                                                                                                                                                        .col-md-4
                                                                                                                                                          .footer-col.last
                                                                                                                                                            h4 Social Media
                                                                                                                                                            span.fa-stack
                                                                                                                                                              a(href='#')
                                                                                                                                                                i.fas.fa-circle.fa-stack-2x
                                                                                                                                                                i.fab.fa-facebook-f.fa-stack-1x
                                                                                                                                                            span.fa-stack
                                                                                                                                                              a(href='#')
                                                                                                                                                                i.fas.fa-circle.fa-stack-2x
                                                                                                                                                                i.fab.fa-twitter.fa-stack-1x
                                                                                                                                                            span.fa-stack
                                                                                                                                                              a(href='#')
                                                                                                                                                                i.fas.fa-circle.fa-stack-2x
                                                                                                                                                                i.fab.fa-google-plus-g.fa-stack-1x
                                                                                                                                                            span.fa-stack
                                                                                                                                                              a(href='#')
                                                                                                                                                                i.fas.fa-circle.fa-stack-2x
                                                                                                                                                                i.fab.fa-instagram.fa-stack-1x
                                                                                                                                                            span.fa-stack
                                                                                                                                                              a(href='#')
                                                                                                                                                                i.fas.fa-circle.fa-stack-2x
                                                                                                                                                                i.fab.fa-linkedin-in.fa-stack-1x
                                                                                                                                                      
    .copyright
                                                                                                                                                        .container
                                                                                                                                                            .row
                                                                                                                                                              .col-lg-12
                                                                                                                                                                p.p-small
                                                                                                                                                                  | Copyright © Elite-SMS Customer Engagement Platform #{year}
                                                                                                                                                                
                                                                                                                                                              // end of col
                                                                                                                                                              // enf of row
                                                                                                                                                              // end of container
                                                                                                                                                              // end of copyright
                                                                                                                                                              // end of copyright
                                                                                                                                                              // Scripts
                                                                                                                                                              script(src='/Homepage/js/jquery.min.js')
                                                                                                                                                              // jQuery for Bootstrap's JavaScript plugins
                                                                                                                                                              script(src='/Homepage/js/popper.min.js')
                                                                                                                                                              // Popper tooltip library for Bootstrap
                                                                                                                                                              script(src='/Homepage/js/bootstrap.min.js')
                                                                                                                                                              // Bootstrap framework
                                                                                                                                                              script(src='/Homepage/js/jquery.easing.min.js')
                                                                                                                                                              // jQuery Easing for smooth scrolling between anchors
                                                                                                                                                              script(src='/Homepage/js/swiper.min.js')
                                                                                                                                                              // Swiper for image and text sliders
                                                                                                                                                              script(src='/Homepage/js/jquery.magnific-popup.js')
                                                                                                                                                              // Magnific Popup for lightboxes
                                                                                                                                                              script(src='/Homepage/js/validator.min.js')
                                                                                                                                                              // Validator.js - Bootstrap plugin that validates forms
                                                                                                                                                              script(src='/Homepage/js/scripts.js')
                                                                                                                                                              // Custom scripts