doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // SEO Meta Tags
    meta(name='description', content='Create a stylish landing page for your business startup and get leads for the offered services with this free HTML landing page template.')
    meta(name='author', content='Inovatik')
    // OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+
    meta(property='og:site_name', content='')
    // website name
    meta(property='og:site', content='')
    // website link
    meta(property='og:title', content='')
    // title shown in the actual shared post
    meta(property='og:description', content='')
    // description shown in the actual shared post
    meta(property='og:image', content='')
    // image link, make sure it's jpg
    meta(property='og:url', content='')
    // where do you want your post to link to
    meta(property='og:type', content='article')
    // Website Title
    title Elite-SMS Customer Engagement Platform
    // Styles
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&subset=latin-ext', rel='stylesheet')
    link(href='/Homepage/css/bootstrap.css', rel='stylesheet')
    link(href='/Homepage/css/fontawesome-all.css', rel='stylesheet')
    link(href='/Homepage/css/swiper.css', rel='stylesheet')
    link(href='/Homepage/css/magnific-popup.css', rel='stylesheet')
    link(href='/Homepage/css/styles.css', rel='stylesheet')
    // Favicon
    link(rel='icon', href='/Homepage/images/favicon.png')
    style.
     .navbar-custom .navbar-nav {
            margin-top: 10px;
            margin-bottom: 0.5rem;
        }
        .btn-solid-lg {
        display: inline-block;
        padding: 1.375rem 2.625rem 1.375rem 2.625rem;
        border: 0.125rem solid #00bfd8;
        border-radius: 2rem;
        background-color: #00bfd8;
        color: #fff;
        font: 700 0.75rem/0 "Raleway", sans-serif;
        text-decoration: none;
        transition: all 0.2s;
       }
        #login
        {
        margin-top:-15px;
        margin-left:10px;
        
        }
        #login:hover
        {
            background-color:white;
            color:#00bfd8
        }
        #login1
        {
        margin-top:-15px;
        
        }
        #login1:hover
        {
            background-color:white;
            color:#00bfd8
        }
        @media (max-width: 768px) {  
         #login
         {
             margin-top:10px;
             width:80%;
             text-align:left;
             margin-left:0px;
         }
         #login1
         {
             margin-top:2px;
             width:80%;
              text-align:left
         }
         #why
        {
            margin-top:15px;
            margin-bottom:25px;
            text-align:center
        }
        }
        #why
        {
            margin-top:15px;
            margin-bottom:25px;
            text-align:center
        }
  body(data-spy='scroll', data-target='.fixed-top')
    // Preloader
    .spinner-wrapper
      .spinner
        .bounce1
        .bounce2
        .bounce3
    // end of preloader
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
      // Text Logo - Use this if you don't have a graphic logo
      // <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a>
      // Image Logo
      a.navbar-brand.logo-image(href='/')
        img(src='/Homepage/images/logo.png', alt='alternative')
      // Mobile Menu Toggle Button
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-awesome.fas.fa-bars
        span.navbar-toggler-awesome.fas.fa-times
      // end of mobile menu toggle button
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.page-scroll(href='/')
              | Home 
              span.sr-only (current)
         
         
          li.nav-item
            a.nav-link.page-scroll(href='/documentation') Documentation
          // Dropdown Menu
          li.nav-item
            a.nav-link.page-scroll(href='#about') About Us
          // end of dropdown menu
          li.nav-item
            a.nav-link.page-scroll(href='#contact') Contact Us
          
          a.btn-solid-lg#login(href='/login') LOG IN
          &nbsp;
          a.btn-solid-lg#login1(href='/signup') GET STARTED NOW
          
    // end of navbar
    // end of navigation
    // Header
    header#header.header
      .header-content
        .container
          .row
            .col-lg-6
              .text-container
                h1
                  span.turquoise Customer Engagement
                  |  Platform
                p.p-large
                  | Elite-SMS is a leading Kenya SMS messaging service provider offering SMS communication services from your internet enabled computer. The Elite-SMS gateway reaches across borders and connects to your clients within Kenya or across Africa.
                a.btn-solid-lg.page-scroll(href='/signup') GET STARTED NOW
              // end of text-container
              // end of col
            .col-lg-6
                .image-container
                  img.img-fluid(src='/Homepage/images/header-teamwork.svg', alt='alternative')
                // end of image-container
                // end of col
                // end of row
                // end of container
                // end of header-content
                // end of header
                // end of header
                // Customers


    .basic-1
                                        .container
                                          .row
                                                .col-lg-12#why
                                                        h2 Why Elite-SMS
                                          .row
                                            .col-lg-6
                                              .text-container
                                                h2 No need of a software
                                                p
                                                  | Elite-SMS is a web based platform, this means you will not need to download a software. All you need is an internet connection and an internet browser.
                                                a.btn-solid-reg.popup-with-move-anim(href='#details-lightbox-1') LEARN MORE
                                              // end of text-container
                                              // end of col
                                            .col-lg-6
                                                .image-container
                                                  img.img-fluid(src='/Homepage/images/details-1-office-worker.svg', alt='alternative')
                                                // end of image-container
                                                // end of col
                                                // end of row
                                                // end of container
                                                // end of basic-1
                                                // end of details 1
                                                // Details 2
    .basic-2
                                                  .container
                                                    
                                                                                
                                                    .row
                                                      .col-lg-6
                                                        .image-container
                                                          img.img-fluid(src='/Homepage/images/details-2-office-team-work.svg', alt='alternative')
                                                        // end of image-container
                                                        // end of col
                                                      .col-lg-6
                                                          .text-container
                                                            h2 Manage your SMS Contacts
                                                            ul.list-unstyled.li-space-lg
                                                              li.media
                                                                i.fas.fa-check
                                                                .media-body Save your contact list
                                                              li.media
                                                                i.fas.fa-check
                                                                .media-body Set up multiple contact groups
                                                              li.media
                                                                i.fas.fa-check
                                                                .media-body Send an SMS to a specific individual, specific group or to everyone in your contact list instanstly.
                                                            a.btn-solid-reg.popup-with-move-anim(href='#details-lightbox-2') LEARN MORE
    .basic-1
                                        .container
                                          
                                          .row
                                            .col-lg-6
                                              .text-container
                                                h2 Track SMS Delivery
                                                p Track if a message has been received on a recipients phone. Message History can be exported as an excel,csv or pdf file
                                                a.btn-solid-reg.popup-with-move-anim(href='#details-lightbox-3') LEARN MORE
                                              // end of text-container
                                              // end of col
                                            .col-lg-6
                                                .image-container
                                                  img.img-fluid(src='/Homepage/images/img1.svg', alt='alternative')
    .basic-2
                                                  .container
                                                    
                                                                                
                                                    .row
                                                      .col-lg-6
                                                        .image-container
                                                          img.img-fluid(src='/Homepage/images/img7.svg', alt='alternative')
                                                        // end of image-container
                                                        // end of col
                                                      .col-lg-6
                                                          .text-container
                                                            h2 Schedule your Messages
                                                            p Elite-SMS supports recurrence, this means you can send messages at a predefined time. No need to worry if you go offline or you don't have internet connection, just schedule the message and it will be sent.
                                                            ul.list-unstyled.li-space-lg
                                                              li.media
                                                                i.fas.fa-check
                                                                .media-body SMS Basic Reminders
                                                              li.media
                                                                i.fas.fa-check
                                                                .media-body SMS Daily Reminders
                                                              li.media
                                                                i.fas.fa-check
                                                                .media-body SMS Weekly Reminders
                                                              li.media
                                                                i.fas.fa-check
                                                                .media-body SMS Monthly Reminders
    .basic-1
                                        .container
                                          
                                          .row
                                            .col-lg-6
                                              .text-container
                                                h2 Send Exam Results & Fee Balances
                                                p Elite-SMS is also suitable for schools. You can not send exam results and fee balances to parents just by importing an excel file then sending the details instantly. This is a much more easier way and it uses less time.
                                              // end of text-container
                                              // end of col
                                            .col-lg-6
                                                .image-container
                                                  img.img-fluid(src='/Homepage/images/img4.png', alt='alternative')
                                                             
                                                            
    #details-lightbox-1.lightbox-basic.zoom-anim-dialog.mfp-hide
                                                            .container
                                                              .row
                                                                button.mfp-close.x-button(title='Close (Esc)', type='button') ×
                                                                .col-lg-8
                                                                  .image-container
                                                                    img.img-fluid(src='/Homepage/images/details-lightbox-1.svg', alt='alternative')
                                                                  // end of image-container
                                                                  // end of col
                                                                .col-lg-4
                                                                    h3 No need of a software
                                                                    hr
                                                                    h5 Core features
                                                                    p
                                                                           | Elite-SMS is a web based platform, this means you will not need to download a software. All you need is an internet connection and an internet browser.
                                                                    p Log in and manage your SMS sends from any internet-enabled device. The advanced features make this the go-to app for businesses wishing to manage multiple accounts.
                                                                    ul.list-unstyled.li-space-lg
                                                                    
                                                                   
                                                                      li.media
                                                                        i.fas.fa-check
                                                                        .media-body User administration
                                                                      li.media
                                                                        i.fas.fa-check
                                                                        .media-body User Friendly
                                                                      
                                                                
                                                                    a.btn-outline-reg.mfp-close.as-button(href='#screenshots') BACK
                                                                  // end of col
                                                                  // end of row
                                                                  // end of container
                                                                  // end of lightbox-basic
                                                                  // end of details lightbox 1
                                                                  // Details Lightbox 2
    #details-lightbox-2.lightbox-basic.zoom-anim-dialog.mfp-hide
                                                                    .container
                                                                      .row
                                                                        button.mfp-close.x-button(title='Close (Esc)', type='button') ×
                                                                        .col-lg-8
                                                                          .image-container
                                                                            img.img-fluid(src='/Homepage/images/details-lightbox-2.svg', alt='alternative')
                                                                          // end of image-container
                                                                          // end of col
                                                                        .col-lg-4
                                                                            h3 Manage your SMS Contacts
                                                                            hr
                                                                            h5 Core features
                                                                            p We offer different options to save your contact list. Save your contacts manualy one by one, Save your contacts by importing your contact list through an excel file or Share a subscription link.
                                                                            ul.list-unstyled.li-space-lg
                                                                                li.media
                                                                                    i.fas.fa-check
                                                                                    .media-body Save your contact list
                                                                                li.media
                                                                                    i.fas.fa-check
                                                                                    .media-body Set up multiple contact groups
                                                                                li.media
                                                                                    i.fas.fa-check
                                                                                    .media-body Send an SMS to a specific individual, specific group or to everyone in your contact list instanstly.
                                                                        
                                                                            a.btn-outline-reg.mfp-close.as-button(href='#screenshots') BACK
    #details-lightbox-3.lightbox-basic.zoom-anim-dialog.mfp-hide
                                                                    .container
                                                                      .row
                                                                        button.mfp-close.x-button(title='Close (Esc)', type='button') ×
                                                                        .col-lg-8
                                                                          .image-container
                                                                            img.img-fluid(src='/Homepage/images/details-lightbox-2.svg', alt='alternative')
                                                                          // end of image-container
                                                                          // end of col
                                                                        .col-lg-4
                                                                            h3 Track SMS Delivery
                                                                            hr
                                                                            h5 Core features
                                                                            p Track if a message has been received on a recipients phone. Message History can be exported as an excel,csv or pdf file
                                                                            ul.list-unstyled.li-space-lg
                                                                                li.media
                                                                                    i.fas.fa-check
                                                                                    .media-body Check Outgoing Messages
                                                                                li.media
                                                                                    i.fas.fa-check
                                                                                    .media-body Save our message history as a pdf, excel or csv file
                                                                                
                                                                            a.btn-outline-reg.mfp-close.as-button(href='#screenshots') BACK
                                                                          // end of col
                                                                          // end of row
                                                                          // end of container
                                                                          // end of lightbox-basic
                                                                          // end of details lightbox 2
                                                                          // end of details lightboxes
                                                                          // Pricing

    #about.basic-4
                                                                                                                        .container
                                                                                                                          .row
                                                                                                                            .col-lg-12
                                                                                                                              h2 About The Team
                                                                                                                              p.p-heading.p-large
                                                                                                                                | Meat our team of specialized software developers.
                                                                                                                            // end of col
                                                                                                                            // end of row
                                                                                                                          .row
                                                                                                                              .col-lg-12
                                                                                                                                // Team Member
                                                                                                                                .team-member
                                                                                                                                  .image-wrapper
                                                                                                                                    img.img-fluid(src='/images/img1.jfif', alt='alternative')
                                                                                                                                  // end of image-wrapper
                                                                                                                                  p.p-large
                                                                                                                                    strong Noel Bor
                                                                                                                                  p.job-title Software Developer
                                                                                                                                  span.social-icons
                                                                                                                                    span.fa-stack
                                                                                                                                      a(href='#')
                                                                                                                                        i.fas.fa-circle.fa-stack-2x.facebook
                                                                                                                                        i.fab.fa-facebook-f.fa-stack-1x
                                                                                                                                    span.fa-stack
                                                                                                                                      a(href='#')
                                                                                                                                        i.fas.fa-circle.fa-stack-2x.twitter
                                                                                                                                        i.fab.fa-twitter.fa-stack-1x
                                                                                                                                  // end of social-icons
                                                                                                                                  // end of team-member
                                                                                                                                  // end of team member
                                                                                                                                  // Team Member
                                                                                                                                .team-member
                                                                                                                                    .image-wrapper
                                                                                                                                      img.img-fluid(src='/images/img2.jfif', alt='alternative')
                                                                                                                                    // end of image wrapper
                                                                                                                                    p.p-large
                                                                                                                                      strong Gethsun Misesi
                                                                                                                                    p.job-title Software Developer
                                                                                                                                    span.social-icons
                                                                                                                                      span.fa-stack
                                                                                                                                        a(href='#')
                                                                                                                                          i.fas.fa-circle.fa-stack-2x.facebook
                                                                                                                                          i.fab.fa-facebook-f.fa-stack-1x
                                                                                                                                      span.fa-stack
                                                                                                                                        a(href='#')
                                                                                                                                          i.fas.fa-circle.fa-stack-2x.linkedin
                                                                                                                                          i.fab.fa-twitter.fa-stack-1x
                                                                                                                                    // end of social-icons
                                                                                                                                    // end of team-member
                                                                                                                                    // end of team member
                                                                                                                                    // Team Member
                                                                                                                                .team-member
                                                                                                                                      .image-wrapper
                                                                                                                                        img.img-fluid(src='/images/img3.jpg', alt='alternative')
                                                                                                                                      // end of image wrapper
                                                                                                                                      p.p-large
                                                                                                                                        strong Evans Mburu
                                                                                                                                      p.job-title Software Developer
                                                                                                                                      span.social-icons
                                                                                                                                        span.fa-stack
                                                                                                                                          a(href='#')
                                                                                                                                            i.fas.fa-circle.fa-stack-2x.facebook
                                                                                                                                            i.fab.fa-facebook-f.fa-stack-1x
                                                                                                                                        span.fa-stack
                                                                                                                                          a(href='#')
                                                                                                                                            i.fas.fa-circle.fa-stack-2x.twitter
                                                                                                                                            i.fab.fa-twitter.fa-stack-1x
                                                                                                                                      // end of social-icons
                                                                                                                                      // end of team-member
                                                                                                                                      // end of team member
                                                                                                                                      // Team Member
                                                                                                                                 
                                                                                                                                     
                                        #contact.form-2
                                                                                                                                          .container
                                                                                                                                            .row
                                                                                                                                              .col-lg-12
                                                                                                                                                h2 Contact Information
                                                                                                                                                ul.list-unstyled.li-space-lg
                                                                                                                                                  li.address Don't hesitate to give us a call or send us a contact form message
                                                                                                                                                 
                                                                                                                                            .row
                                                                                                                                                .col-lg-6
                                                                                                                                                   img(src='/Homepage/images/img10.png',width='90%', alt='alternative')
                                                                                                                                                 
                                                                                                                                                .col-lg-6
                                                                                                                                              
                                                                                                                                                    ul.list-group
                                                                                                                                                        li.list-group-item
                                                                                                                                                            i.fas.fa-map-marker-alt
                                                                                                                                                            &nbsp;
                                                                                                                                                            | Nairobi ,Kenya
                                                                                                                                                        li.list-group-item
                                                                                                                                                            i.fas.fa-phone
                                                                                                                                                            a.turquoise(href='tel:+254799010210')  
                                                                                                                                                             &nbsp;
                                                                                                                                                             | +254799010210 | +2540798571000 | +254721913191
                                                                                                                                                        li.list-group-item
                                                                                                                                                          
                                                                                                                                                            i.fas.fa-envelope
                                                                                                                                                            a.turquoise(href='mailto:elitesms254@gmail.com') 
                                                                                                                                                             &nbsp;
                                                                                                                                                             | elitesms254@gmail.com
                                                                                                                                                  // end of contact form
                                                                                                                                                  // end of col
                                                                                                                                                  // end of row
                                                                                                                                                  // end of container
                                                                                                                                                  // end of form-2
                                                                                                                                                  // end of contact
                                                                                                                                                  // Footer
                                        .footer
                                                                                                                                                    .container
                                                                                                                                                      .row
                                                                                                                                                        .col-md-4
                                                                                                                                                          .footer-col
                                                                                                                                                            h4 About 
                                                                                                                                                             img(src='/Homepage/images/logo.png', alt='alternative')
                                                                                                                                                            p
                                                                                                                                                              | We're passionate about offering some of the best business growth services for startups
                                                                                                                                                        // end of col
                                                                                                                                                        .col-md-4
                                                                                                                                                         
                                                                                                                                                        // end of col
                                                                                                                                                        .col-md-4
                                                                                                                                                          .footer-col.last
                                                                                                                                                            h4 Social Media
                                                                                                                                                            span.fa-stack
                                                                                                                                                              a(href='#')
                                                                                                                                                                i.fas.fa-circle.fa-stack-2x
                                                                                                                                                                i.fab.fa-facebook-f.fa-stack-1x
                                                                                                                                                            span.fa-stack
                                                                                                                                                              a(href='#')
                                                                                                                                                                i.fas.fa-circle.fa-stack-2x
                                                                                                                                                                i.fab.fa-twitter.fa-stack-1x
                                                                                                                                                            span.fa-stack
                                                                                                                                                              a(href='#')
                                                                                                                                                                i.fas.fa-circle.fa-stack-2x
                                                                                                                                                                i.fab.fa-google-plus-g.fa-stack-1x
                                                                                                                                                            span.fa-stack
                                                                                                                                                              a(href='#')
                                                                                                                                                                i.fas.fa-circle.fa-stack-2x
                                                                                                                                                                i.fab.fa-instagram.fa-stack-1x
                                                                                                                                                            span.fa-stack
                                                                                                                                                              a(href='#')
                                                                                                                                                                i.fas.fa-circle.fa-stack-2x
                                                                                                                                                                i.fab.fa-linkedin-in.fa-stack-1x
                                                                                                                                                        // end of col
                                                                                                                                                        // end of row
                                                                                                                                                        // end of container
                                                                                                                                                        // end of footer
                                                                                                                                                        // end of footer
                                                                                                                                                        // Copyright
                                                                                    .copyright
                                                                                                                                                          .container
                                                                                                                                                            .row
                                                                                                                                                              .col-lg-12
                                                                                                                                                                p.p-small
                                                                                                                                                                  | Copyright © Elite-SMS Customer Engagement Platform #{year}
                                                                                                                                                                
                                                                                                                                                              // end of col
                                                                                                                                                              // enf of row
                                                                                                                                                              // end of container
                                                                                                                                                              // end of copyright
                                                                                                                                                              // end of copyright
                                                                                                                                                              // Scripts
                                                                                                                                                              script(src='/Homepage/js/jquery.min.js')
                                                                                                                                                              // jQuery for Bootstrap's JavaScript plugins
                                                                                                                                                              script(src='/Homepage/js/popper.min.js')
                                                                                                                                                              // Popper tooltip library for Bootstrap
                                                                                                                                                              script(src='/Homepage/js/bootstrap.min.js')
                                                                                                                                                              // Bootstrap framework
                                                                                                                                                              script(src='/Homepage/js/jquery.easing.min.js')
                                                                                                                                                              // jQuery Easing for smooth scrolling between anchors
                                                                                                                                                              script(src='/Homepage/js/swiper.min.js')
                                                                                                                                                              // Swiper for image and text sliders
                                                                                                                                                              script(src='/Homepage/js/jquery.magnific-popup.js')
                                                                                                                                                              // Magnific Popup for lightboxes
                                                                                                                                                              script(src='/Homepage/js/validator.min.js')
                                                                                                                                                              // Validator.js - Bootstrap plugin that validates forms
                                                                                                                                                              script(src='/Homepage/js/scripts.js')
                                                                                                                                                              // Custom scripts
