doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-12/512/SMS-Message-icon.png')
    title Elite-SMS Login
    link(rel='stylesheet', href='/boot/css/bootstrap.min.css')
    link(rel='stylesheet', href='/boot/css/animate.css')
    link(rel='stylesheet', href='/style.css')
    style.
      #hide
      {
        display:none
      }
      p 
      {
        color:black;
        font-size:1.8em;
        opacity:0.8;
        font-weight:'bolder'
      }
      @media (max-width: 768px) { 
           #hide
           {
             display:block
           }
           #login
           {
             display:none
           }
       }
       .navbar-brand
       {
         border:2px solid black;
         color:black;
         font-weight:bolder
         
       }
       .navbar-default
       {
         padding-top:10px;
         padding-bottom:10px;
         padding-left:30px;
        
       }

 
  body
  
    .container-fluid
      nav.navbar.navbar-default
       .container-fluid
   
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')  Elite-SMS
   
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
             a(href='/') Home
         
            li
             a(href="/documentation") Documentation
            li
             a(href='/login') Log In
            
      
      .col-md-12#headerImage1
       #header-content
         .col-md-4
         .col-md-4#hide 
           p Hi there, kindly open this page on a desktop browser.
         .col-md-4#login
           .jumbotron
            .page-header
             h4 Login to Elite-SMS
            != messages('message', locals)
            form(action="/admin-login", method="POST")
             label(for="name") Username*:
             input.form-control(type="text", name="username", placeholder="Enter Username",required)
             br
             label(for="name") Password*:
             input.form-control(type="password", name="password", placeholder="Enter Password",required)
             br
             button.btn.btn-primary#submit-btn Log In
             span.desc Not yet registered, 
                a(href="/signup") Kindly Signup
            
         .col-md-4
        
      
             
   
    script(src='./boot/js/jquery-1.12.4.min.js')
    script(src='./boot/js/bootstrap.min.js')
